/*style sheet for below 1500 px*/

#top {background-color: #656D4A; height: 250px; width: 100%; 
    text-align: center; font-size: 20px; padding-top: 10px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    position: relative; color: #EDE0D4; margin: 0;}

