/*style sheet for below 1500 px*/

#top {background-color: #656D4A; height: 250px; width: 100%; 
    text-align: center; font-size: 20px; padding-top: 10px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    position: relative; color: #EDE0D4; margin: 0;}

h2 {font-size: 18px; font-family: sans-serif;}

h3 {font-size: 16px; font-family: sans-serif;}

p {font-size: 18px; font-family: sans-serif; background-color: #EDE0D4; 
    font-weight: bold;}

body {font-family: sans-serif}

#menu {text-align: center; font-size: 30px; position: absolute; width: 100%;
    bottom: 0; background-color: #656D4A;}

.one, .two, .three, .four {display: inline-block; width: 20%; margin-bottom: 5px; 
    margin-right: 0; margin-left: 0; margin-top: 0; vertical-align: top;}

.left-col, .right-col {display: inline-block; width: 49%; margin: 0 auto;}

#note {font-size: 18px; font-weight: bold; color: #656D4A;}

img {display: block;}
