/*stylesheet for business website pages*/

body.html {font-size: 18px}
#top {background-color: #656D4A; background-size: cover; height: 200px; 
    width: 100%; text-align: center; font-size: 40px; padding-top: 40px;}
.one, .two, .three {display: inline-block; width: 30%; margin: 0; text-align: center; font-size: 20px;}