/*stylesheet for business website pages*/

body.html {font-size: 18px}
#top {background-color: #656D4A; height: 300px; width: 100%; 
    text-align: center; font-size: 40px; padding-top: 10px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    position: relative; color: #EDE0D4; margin: 0;}
#menu {text-align: center; font-size: 20px; position: absolute; width: 100%;}
.one, .two, .three {display: inline-block; width: 33%; margin: 0;}
.left-col, .right-col {display: inline-block; width: 49%; margin: 0;}
#note {font: size 16px; font-weight: bold;}

/*responsive */