/*stylesheet for business website pages*/

body.html {font-size: 18px}
#top {background-color: #656D4A; background-size: cover; height: 400px; 
    width: 100%; text-align: center; font-size: 40px; padding-top: 10px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    position: relative;}
#menu {text-align: center; font-size: 20px; position: absolute; 
    padding-bottom: 10px;}
.one, .two, .three {display: inline-block; width: 30%; margin: 0;}
h2 {position: relative}