/*stylesheet for business website pages*/

body.html {font-size: 20px, font-family: sans-serif;}

#top {background-color: #656D4A; height: 200px; width: 100%; 
    text-align: center; font-size: 40px; padding-top: 10px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    position: relative; color: #EDE0D4; margin: 0;}

#menu {text-align: center; font-size: 30px; position: absolute; width: 100%;
    bottom: 0;}

.one, .two, .three, .four {display: inline-block; width: 15%; margin: 0;}

.left, .center, .right {display: inline-block; width: 33%; margin: 0;}

.left-col, .right-col {display: inline-block; width: 49%; margin: 0;}

#note {font: size 18px; font-weight: bold;; background-color: #656D4A;
    border-radius: 4px;}

/*responsive */