/*stylesheet for business website pages*/

h2 {font-size: 20px; font-family: sans-serif;}
h3 {font-size: 18px; font-family: sans-serif;}
body {font-family: sans-serif}

#top {background-color: #656D4A; height: 250px; width: 100%; 
    text-align: center; font-size: 40px; padding-top: 10px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    position: relative; color: #EDE0D4; margin: 0;}

#menu {text-align: center; font-size: 30px; position: absolute; width: 100%;
    bottom: 0;}

.one, .two, .three, .four {display: inline-block; width: 20%; margin: 0;}

.left-col, .right-col {display: inline-block; width: 49%; margin: 0 auto;}

#note {font: size 20px; font-weight: bold; color: #656D4A;}

/*responsive */