/*stylesheet for business website pages*/

body.html {font-size: 18px}
th {font-size: 20px}
#top {background-image: url(Pics/steve-adams-bY_q4VodUc0-unsplash.jpg); 
    background-size: cover; height: 200px; width: 100%; text-align: center; 
    font-size: 40px}